<div class="card">
  <div class="card-body">
    
    <table class="table">
      <tr>
        <th></th>
        <th>Nº IP</th>
        <th>Tipificação</th>
        <th>Instauração</th>
        <th>Audiência</th>
        <th></th>
      </tr>
      <tr *ngFor="let ip of inqueritos">
        <td>
          <img
            *ngIf="ip.elegivelParaAcordo == 'SIM'"
            src="../../assets/images/icons/green-circle.png"
            height="18px"
          />
          <img
            *ngIf="ip.elegivelParaAcordo == 'NAO'"
            src="../../assets/images/icons/orange-circle.png"
            height="18px"
          />
        </td>
        <td>{{ ip?.numero }}</td>
        <td>{{ ip?.tipificacao?.texto }}</td>
        <td>{{ ip?.dataInstaucarao }}</td>
        <td>
          <div
            *ngIf="
              ip?.dataAudiencia != null &&
              ip?.dataAudiencia != undefined &&
              ip?.dataAudiencia != ''
            "
          >
            {{ ip?.dataAudiencia?.day }}/{{ ip?.dataAudiencia?.month }}/{{
              ip?.dataAudiencia?.year
            }}
            ás {{ ip?.horaAudiencia?.hour }}:{{ ip?.horaAudiencia?.minute }}
          </div>
        </td>
        <td>
          <a
            [routerLink]="['/detalhe', ip.id]"
            class="btn btn-outline-secondary"
            >DETALHAR</a
          >
        </td>
      </tr>
    </table>

    
    <button style="margin-right: 10px;" class="btn btn-primary"
    (click)="carregarInqueritosNaoProcessados()">
      CARREGAR INQUÉRITOS NÃO PROCESSADOS
    </button>
    <button class="btn btn-success"
    (click)="processarInqueritos()">AVALIAR INQUÉRITOS</button>
  </div>
</div>
<ngx-spinner></ngx-spinner>
