
<div class="card" style="margin: 20px;">
  <div class="card-body">
    <div class="container">
      <div class="row">
        <div class="col">
      <div style="margin-top: 10px;" *ngIf="inquerito.textoCalibracaoIa != ''">
        <button class="btn btn-outline-danger">
          IP NÃO ELEGIVEL PARA ACORDO - RECUSADO PELO MP
        </button>
      </div>
      <div style="margin-top: 10px;" *ngIf="inquerito.textoAcordo != ''">
        <button class="btn btn-outline-primary">
          MINUTA DE ACORDO EDITADA
        </button>
      </div>
      <div
        style="margin-top: 10px;"
        *ngIf="
          inquerito.dataAudiencia != null &&
          inquerito.dataAudiencia != undefined &&
          inquerito.dataAudiencia != ''
        "
      >
        <button class="btn btn-outline-primary">
          AUDIÊNCIA DASIGNADA PARA: {{ inquerito.dataAudiencia.day }}/{{
            inquerito.dataAudiencia.month
          }}/{{ inquerito.dataAudiencia.year }} ás
          {{ inquerito?.horaAudiencia?.hour }}:{{
            inquerito?.horaAudiencia?.minute
          }}
        </button>
      </div>
    </div>
    <div class="col">
      <button
      class="btn btn-primary"
      style="margin-right: 10px;"
      (click)="openModalAcordo(modalAcordo)"
      >
      GERAR MINUTA DE ACORDO
      </button>
    </div>
    </div>
      <div class="row">
        <div class="col">
          <div>Numero:</div>
          <div>{{ inquerito?.numero }}</div>
        </div>
        <div class="col">
          <div>Tipificação:</div>
          <div>{{ inquerito?.tipificacao?.texto }}</div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div>Autor:</div>
          <div>{{ inquerito?.autor?.nome }}</div>
        </div>
        <div class="col">
          <div>Data Nascimento:</div>
          <div>{{ inquerito?.autor?.dataNascimento }}</div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div>Nome da Mãe:</div>
          <div>{{ inquerito?.autor?.mae }}</div>
        </div>
        <div class="col">
          <div>Profissão:</div>
          <div>{{ inquerito?.autor?.profissao }}</div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div>Endereço do acusado:</div>
          <div>{{ inquerito?.autor?.endereco?.logradouro }}</div>
        </div>
        <div class="col">
          <div>Vítima:</div>
          <div>{{ inquerito?.vitima }}</div>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <div>Objeto:</div>
          <div>{{ inquerito?.objeto }}</div>
        </div>
      </div>
      <div
        class="row"
        style="display: flex; height: 200px;align-content: center;"
      >
        <div style="margin-right: 20px;">
          <label style="margin-top: 10px;"
            >Definir Data e hora da Audiência:</label
          >
          <form class="form-inline">
            <div class="form-group">
              <div class="input-group">
                <input
                  class="form-control"
                  placeholder="dd-mm-yyyy"
                  name="dp"
                  [(ngModel)]="inquerito.dataAudiencia"
                  ngbDatepicker
                  #d="ngbDatepicker"
                />
                <div class="input-group-append">
                  <button
                    class="btn btn-outline-secondary calendar"
                    (click)="d.toggle()"
                    type="button"
                  >
                    <i class="material-icons" style="font-size:16px;"
                      >date_range</i
                    >
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div>
          <ngb-timepicker
            [(ngModel)]="inquerito.horaAudiencia"
          ></ngb-timepicker>
        </div>
      </div>
      <div style="margin-top: 5px;">
        <button (click)="salvarAlteracoes()" class="btn btn-success" style="margin-right: 10px;">
          SALVAR
        </button>
        
       
        <button
          class="btn btn-danger"
          style="margin-right: 10px;"
          (click)="openModalCalibrarIa(modalCalibrarIa)"
        >
          RECUSAR SUGESTÃO DE ACORDO
        </button>
      </div>
    </div>
     <!-- {{ inquerito | json }} -->
  </div>
</div>
<ng-template #modalAcordo let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Minuta de Acordo</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <textarea
      style="width: 100%;height: 300px;"
      [(ngModel)]="inquerito.textoAcordo"
    ></textarea>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-primary"
      (click)="modal.close('Close click')"
    >
      Ok
    </button>
  </div>
</ng-template>
<ng-template #modalCalibrarIa let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Informe motivos para recalibração</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <textarea
      style="width: 100%;height: 300px;"
      [(ngModel)]="inquerito.textoCalibracaoIa"
    ></textarea>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-primary"
      (click)="modal.close('Close click')"
    >
      Ok
    </button>
  </div>
</ng-template>
